/* import fonts from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Alef&family=Henny+Penny&family=Kaushan+Script&display=swap');

*{
    margin:0;
    padding:0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-image: url(./Images/DB1.jpg);
    background-size: cover;
    background-position: center;
    font-family: 'Henny Penny', cursive;
    font-weight: 300;
    position: relative;
    height: 100vh;
    color: black;
}

 .wrapper {
    width: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 600px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: rgb(224, 149, 105);
    -webkit-box-shadow: 0px, 10px, 50px, rgba(0,0,0,.3);
    -moz-box-shadow: 0px, 10px, 50px, rgba(0,0,0,.3);
    box-shadow: 0px, 10px, 50px, rgba(0,0,0,.3);;
    overflow: hidden;
    border-radius: 8px;
}
.win-image {
    position: absolute;
    left: 150px;
}

.player-name {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 30px;
    margin-bottom: 10px;
    position: relative;
}

.player-score {
    text-align: center;
    font-size: 40px;
    font-family: 'Kaushan Script', cursive;
    color: #EB4D4D;
    margin-top: 10px;
}

.player-current-box {
    background: #EB4D4D;
    color: #ffffff;
    width: 180px;
    height: 110px;
    margin-top: 120px;
    margin-left: 310px;
    padding: 10px;
    text-align: center;
}

.player-current-label{
    text-transform: uppercase;
    margin-bottom: 5px;
    font-size: 24px;
    font-family: 'Alef', sans-serif;
    color: black;
}

.player-current-score {
    font-size: 40px;
    font-family: 'Kaushan Script', cursive;
}

button {
    position: absolute;
    width: 150px;
    height: 60px;
    padding-right: 5px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    color: black;
    background: #EB4D4D;
    border-radius: 5px;
    border-color: black;
    font-family: 'Alef', sans-serif;
    font-size: 20px;
    cursor: pointer;
    -webkit-transition: background-color 0.5s ease, color 0.3s ease;
    -moz-transition: background-color 0.5s ease, color 0.3s ease;
    -ms-transition: background-color 0.5s ease, color 0.3s ease;
    -o-transition: background-color 0.5s ease, color 0.3s ease;
    transition: background-color 0.5s ease, color 0.3s ease;
}

button:hover {
    font-weight: 600;
}

i {
    color: black;
    display: inline-block;
    font-size: 15px;
    margin-right: 10px;
    line-height: 1;
    vertical-align: text-top;
    margin-top: 4px;
    padding-left: 5px;
    -webkit-transition: margin 0.3s ease;
    -moz-transition: margin 0.3s ease;
    -ms-transition: margin 0.3s ease;
    -o-transition: margin 0.3s ease;
    transition: margin 0.3s ease;
}

.btn-roll {
    top:430px;
    left: 200px;
}

.btn-new {
    top: 430px;
    left: 600px;
}

.dice {
    position: absolute;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    height: 80px;
    -webkit-box-shadow: 0px 10px 60px rgba(0, 0, 0, .10);
    -moz-box-shadow: 0px 10px 60px rgba(0, 0, 0, .10);
    box-shadow: 0px 10px 60px rgba(0, 0, 0, .10);
}

#dice-1 {
    top: 180px;
    left: 320px;
}

#dice-2 {
    top:180px;
    left: 480px;
}

.final-score {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 520px;
    color: black;
    font-size: 18px;
    font-family: 'Alef', sans-serif;
    text-align: center;
    padding: 10px;
    width: 160px;
    text-transform: uppercase;
}

.final-score:focus {
    outline: none;
}

.winner {
    background-color: #f7f7f7;
}

.winner .player-name {
    font-weight: 300;
    color: #EB4D4D;
}